* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
  background-size: 300% 300%;
  -webkit-animation: Background 25s ease infinite;
  -moz-animation: Background 25s ease infinite;
  animation: Background 25s ease infinite;
}

.layout {
  height: 100%;
  width: 50%;
  margin: auto;
}

.chat {
  display: flex;
  justify-content: center;
}

.chatname {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  text-align: center;
  background-color: lightgray;
}

.message-field {
  display: flex;
  flex-direction: column;
  background-color: #e2e2e2;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
}

.titel_user {
  padding: 0.5rem;
}

.user_text {
  margin-left: 2rem;
}

.message_user {
  background-color: lightblue;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 18px;
  margin: 5px;
  align-self: flex-end;
}

.message_robot {
  background-color: lightblue;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 18px;
  margin: 5px;
  align-self: flex-start;
}

.message-sender {
  color: gray;
  font-size: 14px;
}

h1 {
  margin: 2rem 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
}

.wrapper {
  background-color: lavender;
  display: flex;
  flex-direction: column;
  height: 30rem;
  width: 70%;
}

.message-form {
  display: flex;
  align-items: center;
  padding: 0 0 0.3rem 0.3rem;
}

.submit-btn {
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0.5rem 1rem;
  &:hover {
    background-color: springgreen;
  }
}
